<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style>
        .all-height {
            height: 100vh;
        }
    </style>
</head>`
<body>

<header class="container-fluid">
    <div class="row bg-dark lh-lg p-2 pb-1">
        <div class="col">
            <b>
                <label id="userHeader" class="text-white h5 fw-bold">login</label>
            </b>
        </div>
        <div class="col text-end">
            <a href="/logout" class="text-white-50 text-decoration-none">logout</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row all-height">
        <div class="col pe-0 ps-0 pt-2">
            <nav>
                <div class="nav nav-pills flex-column" id="nav-tab" role="tablist">
                    <button class="nav-link active text-start" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Admin</button>
                    <button class="nav-link text-start" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">User</button>
                </div>
            </nav>
        </div>
        <div class="col-10 pe-0 ps-0 pt-2">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <h1 class="p-3 pb-0">Admin panel</h1>
                        <div class="row border rounded-1 border-secondary border-1 p-2 m-3 mt-0 bg-white">
                            <div class="container">
                                <div class="row">
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                                            <button class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" data-bs-target="#nav-users" type="button" role="tab" aria-controls="nav-users" aria-selected="true">Users table</button>
                                            <button class="nav-link" id="nav-add-tab" data-bs-toggle="tab" data-bs-target="#nav-add" type="button" role="tab" aria-controls="nav-add" aria-selected="false">New User</button>
                                        </div>
                                    </nav>
                                    <div class="tab-content" id="nav-tabContent2">
                                        <div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
                                            <table class="table caption-top table-striped table">
                                                <caption class="bg-light text-dark">
                                                    <h4>
                                                        All users
                                                    </h4>
                                                </caption>
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Surname</th>
                                                    <th scope="col">Age</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Roles</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody id="usersTable">
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade" id="nav-add" role="tabpanel" aria-labelledby="nav-add-tab">
                                            <h4 class="bg-light text-dark py-2">
                                                Add new User
                                            </h4>
                                            <div class="container">
                                                <div class="col-4 text-center mx-auto">
                                                    <form class="need" id="newUser">
                                                        <div class="mb-3">
                                                            <label for="name" class="form-label fw-bold mb-0">Name</label>
                                                            <input type="text" class="form-control" id="name">
                                                            <div style="color:red" id="nameError"></div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="surname" class="form-label fw-bold mb-0">Surname</label>
                                                            <input type="text" class="form-control" id="surname">
                                                            <div style="color:red" id="surnameError"></div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="age" class="form-label fw-bold mb-0">Age</label>
                                                            <input type="number" class="form-control" id="age">
                                                            <div style="color:red" id="ageError"></div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="email" class="form-label fw-bold mb-0">Email</label>
                                                            <input type="email" class="form-control" id="email">
                                                            <div style="color:red" id="emailError"></div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="password" class="form-label fw-bold mb-0">Password</label>
                                                            <input type="password" class="form-control" id="password">
                                                        </div>
                                                        <div class="form-group fw-bold mb-0 pd-2 mb-3">
                                                            <label for="roles">Role</label>
                                                            <select multiple class="form-control form-control-sm" size="2" id="roles">
                                                                <option value="ROLE_ADMIN">ADMIN</option>
                                                                <option value="ROLE_USER">USER</option>
                                                            </select>
                                                        </div>
                                                        <button type="submit" class="btn btn-lg btn-success pt-2 mb-3">Add new User</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <h1 class="p-3 pb-0">User information-page</h1>
                    <div class="row border rounded-1 border-secondary border-1 p-2 m-3 mt-0 bg-white">
                        <div class="container">
                            <div class="row">
                                <table class="table caption-top table-striped table">
                                    <caption class="bg-light text-dark">
                                        <h4>
                                            About user
                                        </h4>
                                    </caption>
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Surname</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Roles</th>
                                    </tr>
                                    </thead>
                                    <tbody id="currentUserTable">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="col-6 mx-auto">
                    <form id="modalBodyEdit" class="text-center">
                        <strong>ID</strong>
                        <input class="form-control mb-3" type="number" data-user-id="id"
                               id="idEdit" readonly>
                        <strong>Name</strong>
                        <input class="form-control mb-3" type="text" data-user-id="name"
                               id="nameEdit">
                        <strong>Surname</strong>
                        <input class="form-control mb-3" type="text" data-user-id="surname"
                               id="surnameEdit">
                        <strong>Age</strong>
                        <input class="form-control mb-3" type="number" data-user-id="age"
                               id="ageEdit">
                        <strong>Email</strong>
                        <input class="form-control mb-3" type="email" data-user-id="email"
                               id="emailEdit">
                        <strong>Password</strong>
                        <input class="form-control mb-3" type="text" data-user-id="password"
                               id="passwordEdit">
                        <strong>Role</strong>
                        <select multiple class="form-control form-control-sm mb-3" data-user-id="rolesEdit" size="2" id="rolesEdit">
                        </select>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form id="modalBodyDelete" class="text-center">
                <div class="modal-body">
                    <div class="col-6 mx-auto">
                        <strong>ID</strong>
                        <input class="form-control mb-3" type="number" data-user-id="id" id="idDelete" readonly>
                        <strong>Name</strong>
                        <input class="form-control mb-3" type="text" data-user-id="name" id="nameDelete" readonly>
                        <strong>Surname</strong>
                        <input class="form-control mb-3" type="text" data-user-id="surname" id="surnameDelete" readonly>
                        <strong>Age</strong>
                        <input class="form-control mb-3" type="number" data-user-id="age" id="ageDelete" readonly>
                        <strong>Email</strong>
                        <input class="form-control mb-3" type="email" data-user-id="email" id="emailDelete"
                               readonly>
                        <strong>Role</strong>
                        <select multiple class="form-control form-control-sm mb-3" size="2" data-user-id="rolesDelete"
                                readonly>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/admin.js"></script>
<script src="/js/tables.js"></script>
<script src="/js/add.js"></script>
<script src="/js/modalTables.js"></script>
<script src="/js/delete.js"></script>
<script src="/js/edit.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</body>
</html>